


/*
    It became obvious that the entire body should've had a padding
    instead of each element handling it. 
    I was too deep in, with limited time to fix.
    Something for the future
*/





/* ----- Resetting Default Margins ----- */
h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
}




/* ----- Universal Style ----- */
a {
    color: #302424 ;/*darkred;*/
    text-decoration-line: none;
}
body {
    font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
    margin: 0;

    display:flex;
    flex-direction: column;
}






/* ----- Header ------ */
header {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
    background-color: #302424;
    margin-top: 0px;
    /* background: linear-gradient(White, rgba(255, 255, 255, 0));*/
}

header a {
    font-size: x-large;
   /* flex-grow: 1;*/
    padding: 5px;
    margin: 2px;
    margin-top: 0px;
    border-radius: 2px;
    background-color: darkgray;
    
}
/* animating the nav buttons */
@keyframes gradeIn{
    from {
        background-color:darkgrey;
        color: darkred;
    }
    to {
        background-color: darkred;
        color: white;
    }
}

header a:hover{
    color: white;
    animation-name: gradeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}




/* ----- Footer ------ */
footer {
    width: 100%;
    height: 50px;
    background: #302424;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

footer > p {
    margin: auto;
    color: grey;
}

footer > #my-name{
    font-size:larger;
}





/* ----- Info ------ */
#info {
    background: linear-gradient(white 10%, #008b8b 100%);
    margin: 0px;
    height: 120%;/*800px;*/
}
#info a {
    color: darkred;
}
#info_grid_container {
    display: grid;
    grid-template-columns: 235px auto; /* 2 columns */
    grid-template-rows: auto auto;
    padding: 25px;
}
#selfie {   /* row 1 col */
    width: 200px; /* Auto sets the height to be whatever it needs to be to maintain the ratio */
    grid-column-start: 1;
    grid-column-end: 1;
}
#info_grid_container > #introduction { /* (row: 1, col: 2)*/
    grid-column-start: 2;
    grid-column-end: 2;
}
#italics {
    font-style: italic
}


/* NOTE: remember that the index of a column must be one greater than the 
         index of the final column the element will occupy
*/
#college_info { /* main flex box container */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    justify-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    flex-wrap: wrap;
}
.college-location { /* The college locations */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-right: 10px;

    width: 200px;

    text-align: center;
}
#college_logo_container {
    width: 800px; /* Expands to fill entire space in the flex container */
    flex-basis: 100%;
    flex-grow: 1; /* Expands to fill the entire space available */
}
#college_logo_container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;

}






/* ---- Projects ---- */
.carousel-container{
    background-color: lightgrey;

    justify-self: center;
    justify-content: center;

    /*height: 600px;
    width: 900px;*/
    width: 75%;
}

.carousel-input{
    display: flex;
    justify-content: center;
    height: 50px;
}

.carousel-input button{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-input button:hover{
    background: rgba(123,123,132, 0.2);
}


.carousel-slide {
    background-color: black;
    position: relative; /* need this to create a positioning context so text can properly inherit it's position while also being absolute*/
    display: block;
    /*display: flex;*/
    justify-content: center;
/*    width: auto;*/
}


.carousel-slide img{
    display: block;
    width: 100%;
    height: auto;
}

.carousel-text {
    pointer-events: none; /* Doesn't hit detect so carousel buttons still work */

    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.5);
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

/* Keeps the text within the image bounds */
@media (max-width: 600px)
{
    #projects p {
        font-size: smaller;
    }
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.carousel-text{
    color: white;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

#left_arrow {
    width: 40px;
    height: 40px;
    transform: scaleX(-1);
}


#right_arrow {
    width: 40px;
    height: 40px;
}










/* ----- Paragraphs ------ */
.paragraphs {
    padding: 25px;
    align-self: center;
}

.paragraphs p {
    margin-top: 10px;
}

.paragraphs h2 {
    justify-self: center;
    margin-bottom: 12px;
}

.paragraphs li {
    color: #343434;
}







/* ----- Resume -----*/
#resume {
    /*background: linear-gradient(lightgrey 50%, grey 100%);*/
    background: linear-gradient(white 5%, #008b8b 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}


#contact_info_container * {
    justify-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#resume_logos {
    display: flex;
    flex-direction: row;
}


#github_logo {
    width: 120px;
    height: auto;
    transform: translateX(-7px);
}

#linkedin_logo {
    width: 100px; height: auto;
}



/*----- Contact Me -----*/
#contact {
    
    padding: 25px;
    height:stretch;
}

.container {
    background: linear-gradient(white 5%, #008b8b 100%);
    height: 90vh;
}

#contact-content{
    height: 100vh;
}


/*#contact-container footer{
    position:absolute;
    bottom: 0px;
}*/